#cartContainer {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.cart-details-container
{
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}
.cart-remove-product-button
{
    padding: 10px;
    border-radius: 30px;
    background-color: #E3957C;
    color: black;
}

.cart-item-image {
    width: auto; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    margin-right: 10px;
}

.cart-item-title {
    margin: 0;
    font-size: 16px;
}

.cart-item-price {
    margin: 0;
    font-weight: bold;
}

.cart-item-quantity {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.cart-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.cart-empty-text{
    font-size: 36px;
    font-family: 'Montserrat';
    color: #2C3E50;
    margin: 0 auto;
}