/* Styles for the cart container */
#cartContainer {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

/* Styles for each cart item */
.cart-item {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.cart-details-container
{
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}
.cart-remove-product-button
{
    padding: 10px;
    border-radius: 30px;
    background-color: #E3957C;
    color: black;
}
/* Styles for the cart item image */
.cart-item-image {
    width: auto; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    margin-right: 10px;
}

/* Styles for the cart item title */
.cart-item-title {
    margin: 0;
    font-size: 16px;
}

/* Styles for the cart item price */
.cart-item-price {
    margin: 0;
    font-weight: bold;
}

/* Styles for the cart item quantity */
.cart-item-quantity {
    margin: 0;
    font-size: 14px;
    color: #888;
}

/* Styles for the cart page title */
.cart-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
