html,body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body
{
    font-family: 'Montserrat';
    background-color: #F5F5F5;
}
header
{
    background-color: #2C3E50;
    padding-top: 5px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1
{
    color: white;
    font-family: 'Montserrat';
    text-align: center;
}
footer
{
    background-color: #2C3E50;
    height: 100px;
    width: 100vw;
    flex-shrink: 0;
    color: #fff; 
    padding-bottom: 12px;
    text-align: center;
}
.footer_list
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 30px;
    margin-left: 0;
}
.header_list
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    padding-bottom: -20px;
}

.fa-shopping-cart
{
    color: white;
    font-size: 40px;
}
li
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #333;
    padding-top: 50px;
    transition: 0.3s;
    font-family: 'Montserrat';
    color: #fff;
  }
  
  .sidebar ul {
    list-style-type: none;
    margin-left: 10px;
  }
  .sidebar h3{
    margin-left: 20px;
  }
  
  .sidebar ul li {
    padding: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
  }
  
  .toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 999;
  }